.banner img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  filter: brightness(90%);
}
.overlay {
  background: linear-gradient(
    to right,
    #000000,
    rgb(0, 0, 0, 0.9),
    transparent
  );
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.banner-content {
  top: 130px;
  position: absolute;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.content p {
  color: white;
  text-transform: uppercase;
}

.content h5 {
  text-transform: uppercase;
}
.content span {
  color: rgb(138, 138, 138);
  font-weight: normal;
  text-transform: none;
}
.banner-button {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-right: 50px;
}
.btn-watch,
.btn-read {
  padding: 10px 20px;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
}
.btn-watch {
  border: none;
  background-color: red;
}
.btn-read {
  border: 1px solid #d6d6d6;
  background-color: transparent;
  padding: 10px 40px;
}
.btn-read:hover, .btn-watch:hover{
  cursor: pointer;
  background-color:  #d6d6d6;
  color: black;
}

.play-icon {
  font-size: 17px;
  color: white;
  float: right;
}
.poster {
  display: none;
}

@media all and (min-width: 700px) {
  .banner-button {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    padding-right: 50px;
  }
  .play-icon {
    margin-left: 10px;
  }
  .poster {
    display: block;
    z-index: 99;
  }
  .poster img {
    width: 100px;
    height: 150px;
    margin-right: 20px;
  }
  .poster img:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

@media all and (min-width: 900px) {
  .banner-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .content h1 {
    margin: 0;
    font-size: 50px;
  }
}
