form{
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
h1{
    color: white;
    margin-top: 50px;
}
input[type="text"]{
    width: 50%;
    color: black;
    padding: 5px;
    display: block;
    border: 1px solid white;
}
.all-movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 2.5rem;
    margin-top: 20px;
  }