* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
}

body {
  background-color: #131214;
}

.container {
  margin: 0 auto;
  padding: 0 70px;
  /* max-width: 100%; */
}
